root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
csharp_new_line_before_open_brace = braces
csharp_new_line_before_else = true
csharp_space_between_method_call_name_and_opening_parenthesis = false